<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>home</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <%- include('layouts/style.css.ejs') -%>
</head>
<body>
<header>
    <%- include('layouts/menu.left.ejs') -%>
    <div class="song-side">
        <%- include('layouts/menu.header.ejs') -%>
        <!--        ảnh chạy-->
        <div class="slideshow-container">

            <div class="mySlides fade">
                <img src="https://bangxephang.com/wp-content/uploads/2021/07/hom-nay-toi-buon-phung-khanh-linh-239400.jpg"
                     style="width:100%; height: 400px">
            </div>
            <div class="mySlides fade">
                <img src="https://pic-bstarstatic.akamaized.net/ugc/a4ed7f0ae0aae13d5bfe258af1337df6a787895a.jpg"
                     style="width:100%; height: 400px">
            </div>
            <div class="mySlides fade">
                <img src="https://cdn.tgdd.vn/Files/2022/07/02/1444128/nhung-ban-nhac-hay-nhat-cho-trai-tim-tan-vo-cua-mrsiro-202207021658022731.jpg"
                     style="width:100%; height: 400px">
            </div>
            <div class="mySlides fade">
                <div class="numbertext"></div>
                <img src="https://pic-bstarstatic.akamaized.net/ugc/a53ffae69874f04d2f702ab622560f8780042e19.jpg@1200w_630h_1e_1c_1f.webp"
                     style="width:100%; height: 400px">
            </div>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <!--        Hết ảnh chạy-->
        <div class="text-home">
            <p>Chào Mừng Bạn Đến Với Thế Giới Âm Nhạc</p>
        </div>
        <div class="song-side__new-release">
            <div class="song-side__playlist--popular">
                <div class="playlist__popular--title">Bài hát nổi bật</div>
            </div>
            <div class="song-side__playlist--carousel">
                <div class="swiper swiper__new-release">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="song-side__new-release--item swiper-slide">
                            <div class="song-side__new-release--thumbnail">
                                <img src="https://photo-resize-zmp3.zmdcdn.me/w240_r1x1_webp/cover/3/8/f/6/38f6c01056fbbe19ae00c018b8dec874.jpg">
                                <i class="bi bi-play-circle"></i>
                            </div>
                            <div class="song-side__new-release--content">
                                <div class="new-release__info">
                                    <div class="new-release__info--title">Trai Tài Gái Sắc</div>
                                    <div class="new-release__info--subtitle">NB3 Hoài Bảo</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>
        </div>
        <div class="song-side__new-release">
            <div class="song-side__playlist--popular">
                <div class="playlist__popular--title">Nghệ sỹ nổi bật</div>
            </div>
            <div class="song-side__playlist--carousel">
                <div class="swiper swiper__new-release">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="song-side__new-release--item swiper-slide">
                            <div class="song-side__new-release--thumbnail">
                                <img src="https://photo-resize-zmp3.zmdcdn.me/w240_r1x1_webp/cover/3/8/f/6/38f6c01056fbbe19ae00c018b8dec874.jpg">
                                <i class="bi bi-play-circle"></i>
                            </div>
                            <div class="song-side__new-release--content">
                                <div class="new-release__info">
                                    <div class="new-release__info--title">Trai Tài Gái Sắc</div>
                                    <div class="new-release__info--subtitle">NB3 Hoài Bảo</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>
        </div>

        <!--#Chart-->
        <div class="song-side__chart">
            <div class="song-side__chart--wrapper">
                <div class="song-side__playlist--popular">
                    <div class="playlist__popular--title">
                        #Chart
                        <i class="bi bi-play-circle-fill"></i>
                    </div>
                </div>
                <div class="song-side__playlist--carousel chart">
                    <div class="chart__legend-box">
                    </div>
                    <div class="chart__main">
                        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                    </div>
                </div>
                <div class="song-side__chart--overlay"></div>
            </div>
        </div>

        <!-- bottom -->
        <%- include('layouts/bottom.ejs') -%>
    </div>
</header>
<div class="music-play">
    <div class="music-play__left">
        <div class="music-play__wave hide-on-mobile-tablet">
            <div class="music-play__wave-item"></div>
        </div>
        <div class="music-play__image">
            <!-- <img src="./img/icon_zingmp3.svg"/> -->
            <div class="box-note-icon">
                <i class="bi bi-music-note-beamed"></i>
            </div>
            <div class="box-note-icon">
                <i class="bi bi-music-note-beamed"></i>
            </div>
            <div class="box-note-icon">
                <i class="bi bi-music-note-beamed"></i>
            </div>
            <div class="box-note-icon">
                <i class="bi bi-music-note-beamed"></i>
            </div>
        </div>
        <div class="music-play__info">
            <marquee class="song-item--title" direction="left">
                Chào Mừng Bạn Đến Với Thế Giới Âm Nhạc
            </marquee>
            <div class="song-item--singer"></div>
        </div>
    </div>
    <div class="music-play__center">
        <div class="music-play__control">
            <div class="btn btn-repeat hide-on-mobile">
                <i class="bi bi-arrow-repeat"></i>
            </div>
            <div class="btn btn-prev">
                <i class="bi bi-skip-backward"></i>
            </div>
            <div class="btn btn-toggle-play">
                <i class="bi bi-play-circle"></i>
            </div>
            <div class="btn btn-next">
                <i class="bi bi-skip-forward"></i>
            </div>
            <div class="btn btn-random hide-on-mobile">
                <i class="bi bi-shuffle"></i>
            </div>
        </div>
        <div class="music-play__progress">
            <span class="music-play__progress--start">00:00</span>
            <div class="music-play__progress--seek">
                <input
                        id="progress"
                        class="progress"
                        type="range"
                        value="0"
                        step="1"
                        min="0"
                        max="100"
                />
                <div class="seek__bar"></div>
                <div class="seek__dot"></div>
            </div>
            <span class="music-play__progress--end">05:00</span>
            <audio id="audio" src="" preload="metadata"></audio>
        </div>
    </div>
    <div class="music-play__right hide-on-mobile-tablet">
        <div class="music-play__volume">
            <i class="bi bi-volume-down"></i>
            <input
                    id="volume"
                    class="volume"
                    type="range"
                    value="30"
                    step="1"
                    min="0"
                    max="100"
            />
            <div class="seek__bar"></div>
            <div class="seek__dot"></div>
        </div>
    </div>
</div>
<%- include('layouts/js.ejs') -%>>

</body>
</html>